body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}  

* {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

.container {
  display: flex;
  min-height: 100vh;
  overflow: auto;
}

.sidebar {
  width: 100%;
  max-width: 300px;
  background-color: hsl(210, 29%, 24%);
  color: white;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: hsl(192, 15%, 94%);
}

#project-list {
  list-style: none;
  padding: 0;
}

#project-list li {
  position: relative;
  padding: 5px;
}

#project-list li:hover {
  background-color: hsl(210, 29%, 35%);
}

.delete-project-button {
  position: absolute;
  right: 3px;
  bottom: 3px;
  margin-left: 10px;
  font-size: 1.0em;
}