body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}  

* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0px;
}
.button-group {
    background-color: lightsalmon;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    font-size: 60px;
}

#content {
    width: 100vw;
    height: calc(100vh - 106px);
    background-color: lightpink;
}

/* from calculator */
.calc-container{
    flex-wrap: wrap;
    align-items: center;
}