body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}  

* {
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 100%;
  max-width: 250px;
  background-color: hsl(210, 29%, 24%);
  color: white;
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: hsl(192, 15%, 94%);
}

#project-list {
  list-style: none;
  padding: 0;
}

#project-list li {
  padding: 5px;
}

#project-list li:hover {
  background-color: hsl(210, 29%, 35%);
}